@charset "UTF-8";
/* rouge brique fond */
/* rouge brique font */
/* #FAFAFA gris */
/* gris foncé */
@import url("https://fonts.googleapis.com/css?family=DM+Sans&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* box-sizing: inherit;*/
}

html {
  font-size: 70%;
}

@media screen and (min-width: 1023px) {
  html {
    /*sur grand écran = desktop */
    font-size: 60%;
  }
}

body {
  /* box-sizing: border-box;
    background: $colour-secondary;*/
  margin: 0 100;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

* {
  font-family: 'DM Sans', sans-serif;
}

body {
  font-size: 1.5rem;
  line-height: 1.5;
}

strong {
  font-weight: bold;
}

h1, h2, h3 {
  font-weight: normal;
}

h1 {
  font-size: 2.8rem;
  color: #901C1C;
  /* pour header__title*/
}

h2 {
  color: #D3573C;
}

textarea {
  font-weight: 100;
  font-size: 2rem;
}

button {
  font-weight: 200;
  font-size: 2.75rem;
}

.bouton {
  background: #901C1C;
  color: white;
  border-radius: 5px;
}

.bouton:hover {
  background: #D3573C;
  color: black;
}

.bouton-tag {
  color: #901C1C;
  border: 0.5px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  margin-top: 10px;
  padding: 0rem 1rem;
  text-decoration: none;
}

.bouton-tag:not(:last-child) {
  margin-right: 1rem;
}

.bouton-tag:hover {
  background-color: #901C1C;
  cursor: pointer;
  color: white;
  border: 0.5px solid transparent;
}

.bouton-tag:focus {
  background-color: #901C1C;
  color: white;
  border: 1px solid red;
}

.lien-cache {
  opacity: 0;
}

.lien-cache:hover {
  opacity: 1;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.5rem;
  padding: 0 6rem;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__title {
  /* Nos photographes, cf typo */
}

.header__filters__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.5rem 0.3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 700px) {
  .header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 4rem;
  }
  .header__link {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .header__nav {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .header__title {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.les-photographes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.photographe {
  padding: 10px;
  margin: 10px;
}

.photographe:hover {
  background-color: #901C1C;
  cursor: pointer;
  color: white;
  border: 0.5px solid transparent;
}

.photographe:focus {
  background-color: #901C1C;
  color: white;
  border: 1px solid red;
}

.photographe__coordonnees {
  color: #901C1C;
}

.photographe__taglist {
  /* idem __filters__navigation pourait etre regroupé */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.5rem 0.3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.photographe__img {
  border-radius: 50%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  text-decoration: none;
  width: 200px;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}
/*# sourceMappingURL=main.css.map */