input {
    border-radius:5px;
    border:none;
    height: 45px;
    width: 100%;   
    &:focus {
        border: 1px solid $contour-focus;   
   }
}

textarea {
    border:none;
    height: 165px;
    border-radius:5px;
} 