@import url("https://fonts.googleapis.com/css?family=DM+Sans&display=swap");

*{ 
    font-family: 'DM Sans', sans-serif; 
}

body {
    font-size: 1.5rem;
    line-height: 1.5;
}
strong {
    font-weight: bold;
}

h1, h2, h3 {
    font-weight: normal;
}

h1 {
    font-size: 2.8rem;
    color : $colour-secondary-font-color; /* pour header__title*/
}
h2 {
    color : $colour-primary-font-color;
}

textarea {
    font-weight: 100;
    font-size: 2rem;
}

button {
    font-weight: 200;
    font-size: 2.75rem;
}

a {
    text-decoration:none;
    color : $colour-basic-text;
}