
.lien-cache {
    opacity: 0;
    &:hover {
        opacity : 1;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;
    padding: 0 6rem;
  
    &__nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    /*
    &__title {
         Nos photographes, cf typo  

    }*/
    &__filters__navigation {
     display: flex;
        flex-wrap: wrap;
        gap: 0.5rem 0.3rem;
        justify-content: center;
    }
}

@media (max-width: 700px) {
    .header {
        flex-wrap: wrap;
        margin: 0 4rem;
        &__link {
            order: 1;
        }
        &__nav {
            order: 3;
            flex-basis: 100%;
        }
        &__title {
            order: 2;
        }
    }
}

.les-photographes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

.photographe {
    padding:10px;
    margin:10px;
    &:hover, &:hover &__name, &:hover &__coordonnees, &:hover  &__taglist li { /* possible aussi : .parent.hover .child ou en js :$('.parent').hover(function(){  $(this).children('.child').css("display","block"); cf https://qastack.fr/programming/5061940/changing-the-child-elements-css-when-the-parent-is-hovered */
        background-color: $colour-primary-fond;
       // cursor: pointer;
        color: $colour-primary-font-neutre;
        border: 0.5px solid transparent;
    }
    &:focus {
        background-color: $colour-primary-fond;
        color: $colour-primary-font-neutre;
        border: 1px solid $contour-focus;
    }
    &__coordonnees{
        color : $colour-primary-fond;
    }
    &__taglist { /* idem __filters__navigation pourait etre regroupé */
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem 0.3rem;
        justify-content: center;
    }
    &__img {
        border-radius: 50%;
        height: 200px;
        object-fit: cover; // pour qu'il n'y ait pas de déformation
        text-decoration: none;
        width: 200px;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    }
}