
.lien-cache {
    display:none;
    position: fixed;
    text-align: center;
    width: auto;
    left: 50%;
    background-color: $colour-primary-fond;
    color: $colour-primary-font-neutre;
    transform: translate(-50%, 0); // pour que le conteneur soit bien centré quand on ne précie pas sa taille, inspi : https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/
    padding: 4px 6px;
    font-size: 1.4rem;
    border-radius: 5px;
    &:hover {
        background-color: $colour-secondary-fond;
        color: $colour-secondary-font-neutre;
    }
}

.les-photographes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;

    & .photographe {
        padding:10px;
        margin:10px;
        text-align: center;

        &:hover { // &:hover &__name, &:hover &__coordonnees, &:hover  &__taglist li possible aussi : .parent.hover .child ou en js :$('.parent').hover(function(){  $(this).children('.child').css("display","block"); cf https://qastack.fr/programming/5061940/changing-the-child-elements-css-when-the-parent-is-hovered 
            background-color: $background-tres-leger; //$colour-secondary-fond;
        // cursor: pointer;
            //color: $colour-primary-font-neutre;
            border: 0.5px solid transparent;
        }
        &:focus {
            background-color: $background-tres-leger;
            color: $colour-primary-font-neutre;
            border: 1px solid $contour-focus;
        }
        &__coordonnees{
            color : $colour-primary-fond;
        }
        &__taglist { /* idem __filters__navigation pourait etre regroupé */
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem 0.3rem;
            justify-content: center;
            & .bouton-tag:hover { // contrairement aux tag du header, on ne veut pas qu'ils apparaissent comme clicable ici
                cursor:default;
                background-color: $background-tres-leger;
                color: $colour-primary-fond;
                border: 0.5px solid $coutour-bt;
            }
        }
        &__img {
            border-radius: 50%;
            height: 200px;
            object-fit: cover; // pour qu'il n'y ait pas de déformation
            text-decoration: none;
            width: 200px;
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
        }
    }
}

// sur écrna moyen : 2 photographes par ligne
@media (max-width: 780px) {
    .les-photographes {
        grid-template-columns: repeat(2, 1fr);
    }
}
// sur petute écran : 1 seul
@media (max-width: 550px) {
    .les-photographes {
        display: block;
    }
}