.detail-photographe {
	display: flex;
	flex-direction: column;
	align-items: center;
	//margin-top: 1.5rem;
    padding: 5px 20px 0;

    &__info{
	    &_div {
            align-items: flex-start;
            display: flex;
            justify-content: space-between;
            //margin-top: 0.2rem;
            padding : 40px;
            background-color: $background-tres-leger;

            &__content {
                &__title {
                    color: $colour-primary-font-color;
                    font-size: 2.2em;
                    margin: 0;
                }
                &__localization {
                    color: $colour-secondary-font-color;
                    font-size: 1.4em;
                    //font-weight: bold;
                    margin-top: 0.2rem;
                }
                &__tagline {
                    font-size: 1.1em;
                    color: $colour-secondary-font;
                    margin-top: 1.2rem;
                }
                &__taglist {
                    display: flex;  /* idem __filters__navigation pourait etre regroupé */
                    flex-wrap: wrap;
                    gap: 0.5rem 0.3rem;
                /*  justify-content: center;*/ 
                }
                &__photo {
                    justify-self: end;
                    margin-right: 2rem;
                }
            }

            &__contact { 
                //width: 600px;
                text-align: left;
                &__button { 
                    background-color: $colour-secondary-font-color;
                    border-radius: 5px;
                    border: none;
                    color: $colour-primary-font-neutre;
                    cursor: pointer;
                    font-size: 1.3em;
                    width: auto;
                    padding : 6px 5px;
                    position:relative;
                    left : -200px;
                    &:focus {
                        border: 2px solid $colour-secondary-fond;
                        border: 1px solid $contour-focus;
                    }
                    &:hover {
                        background-color: $colour-secondary-fond;
                        color : $colour-secondary-font-neutre;
                    }
                }
                display: none;
            }

            &__photo {
                &__img {
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    object-fit:cover;
                    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
                }
            }
        }
	}

	&__gallery { 
		display: block;
		grid-template-columns: 1fr;
		&__media {
			cursor: pointer;
			border-radius: 5px;
			height: 190px;
			object-fit: cover;
			width: 100%;
			&:focus {
				border: 1px solid $contour-focus;
			}
		}
	}


	&__trie {
		// display: none; sur petit écran
		display: inline;
		margin-bottom: 3rem;
	}
/*	&__infos-autre {
		display: none;
	}*/
}
//  écran intermédiaire : 2 medias par ligne notamment
@media (min-width: 400px) {
	.detail-photographe {
		&__gallery {
            display: grid;
            gap: 2rem;
			grid-template-columns: repeat(2, 1fr);
            margin-top: 2rem;
			&__media {
				height: 200px;
			}
		}
	}
}

// grand écran : 3 medias par ligne notamment
@media (min-width: 992px) {
	.detail-photographe {
//////////////////
&__info{
    &_div {
        &__contact { 
            display: block;
        }
    }
}
///////////////////
        //display: inline;
        &__info {
           width: 100%;  
        }

        &__gallery {
            grid-template-columns: repeat(3, 1fr);

			&__media {
				height: 350px;
			}
            
        }
    }
}
