.detail-photographe {
	display: flex;
	flex-direction: column;
	//align-items: center; non le trie doit etre à gauche
	//margin-top: 1.5rem;
    padding: 5px 20px 0;

    &__info{
	    &_div {
            align-items: flex-start;
            display: flex;
            justify-content: space-between;
            //margin-top: 0.2rem;
            padding : 40px;
            background-color: $background-tres-leger;

            &__content {
                &__title {
                    color: $colour-primary-font-color;
                    font-size: 2.2em;
                    margin: 0;
                }
                &__localization {
                    color: $colour-secondary-font-color;
                    font-size: 1.4em;
                    //font-weight: bold;
                    margin-top: 0.2rem;
                }
                &__tagline {
                    font-size: 1.1em;
                    color: $colour-secondary-font;
                    margin-top: 1.2rem;
                }
                &__taglist {
                    display: flex;  /* idem __filters__navigation pourait etre regroupé */
                    flex-wrap: wrap;
                    gap: 0.5rem 0.3rem;
                /*  justify-content: center;*/ 
                }
                &__photo {
                    justify-self: end;
                    margin-right: 2rem;
                }
            }

            &__contact { 
                //width: 600px;
                text-align: left;
                &__button { 
                    background-color: $colour-secondary-font-color;
                    border-radius: 5px;
                    border: none;
                    color: $colour-primary-font-neutre;
                    cursor: pointer;
                    font-size: 1.2em;
                    width: auto;
                    padding : 6px 5px;
                    position:relative;
                    left : -200px;
                    &:focus {
                        border: 2px solid $colour-secondary-fond;
                        border: 1px solid $contour-focus;
                    }
                    &:hover {
                        background-color: $colour-secondary-fond;
                        color : $colour-secondary-font-neutre;
                    }
                }
                display: none;
            }

            &__photo {
                &__img {
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    object-fit:cover;
                    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
                }
            }
        }
    }
    &__infos-autres {
		align-items: center;
		background-color: $colour-secondary-fond;
        color: $colour-secondary-font-neutre;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
		bottom: 0;
		display: flex;
		font-size: 1.2em;
        font-weight: bold;
		//height: 50px;
		justify-content: space-between;
		padding: 0.7rem 1rem;
		position: fixed;
		right: 3rem;
		width: 280px;
		&__aside {
			align-items: center;
			display: flex;
            &__total-likes {
                padding-right : 10px;
            }/*
			&__heart {
				border: none;
				cursor: pointer;
				height: 2rem;
				text-indent: -6000px;
				width: 3rem;
		    }*/
		}
    }

	&__gallery { 
		display: block;
		grid-template-columns: 1fr;
		&__media {
			cursor: pointer;
			border-radius: 5px;
			height: 190px;
			object-fit: cover;
			width: 100%;
			&:focus {
				border: 1px solid $contour-focus;
			}
            &__footer {
                display: flex;
                justify-content: space-between;
                color: $colour-secondary-font-color;

                &__like-section{
                    display: flex; //flex-direction: row; par defaut
                    &-counter {
                        padding: 3px 3px 0 0;
                    }
                    &-button {
                        cursor:pointer;
                        background: none;
                        border: none;
                        color: $colour-secondary-font-color;
                        font-size: 1.6rem; 
                        &:focus {
                            border: none; // par ce que par défaut tout les nput sont entouré lors du focus.. c'est bien, sauf pour cet élément  
                        }
                    }
                }
            }
		}
	}


	&__trie {
		// display: none; sur petit écran
		display: inline;
		margin-bottom: 3rem;
        label {
            font-weight: bold;
        }
        &-menu {
            cursor: pointer;
            background-color: $colour-primary-fond;
            border-radius: 5px;
            border: none;
            color: $colour-primary-font-neutre;
            font-size: 1.1em;
            padding: 0.5rem 0.4rem;
            margin: 1.5rem 0 0 0.5rem;
            /*&:hover { peu d'interet
                background-color: $colour-secondary-fond;
                color : $colour-secondary-font-neutre;
            }
            &:focus {
                background-color: $colour-primary-fond;
                color : $colour-primary-font-neutre;
            } */
        }
	}
/*	&__infos-autre {
		display: none;
	}*/
}
//  écran intermédiaire : 2 medias par ligne notamment
@media (min-width: 400px) {
	.detail-photographe {
		&__gallery {
            display: grid;
            gap: 2rem;
			grid-template-columns: repeat(2, 1fr);
            margin-top: 2rem;
			&__media {
				height: 200px;
			}
		}
	}
}

// grand écran : 3 medias par ligne notamment
@media (min-width: 992px) {
	.detail-photographe {
//////////////////
&__info{
    &_div {
        &__contact { 
            display: block;
        }
    }
}
///////////////////
        //display: inline;
        &__info {
           width: 100%;  
        }

        &__gallery {
            grid-template-columns: repeat(3, 1fr);

			&__media {
				height: 350px;
			}
            
        }
    }
}



// styles pour la modal de contact ci dessous
.modal {
    //background-color: $background-tres-leger;
    display: none; 
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto; /*  scroll  */
    position: fixed; 
    width: 100%;

    &-content {
        background-color: $colour-secondary-fond;
        margin: 20px auto;
        padding: 5px 20px;
        width: 80%;
        max-width: 400px;
    }

    &-header {
        //padding-bottom:15px;
        display: flex;
        justify-content: space-between;
        &-title {
            font-size: 2.6em;
            color: $colour-secondary-font-neutre;
        }

        &-close {
            color: $colour-primary-font-neutre;
            font-size: 5em;  
            &:hover,
            &:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
}
.form {
   &-ligne {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
   } 
   &-label {
    font-size: 1.5em;
   }
   
   &-button {
        display: flex;
        justify-content: center;

        background-color:$colour-primary-fond;
        border-radius: 5px;
        border:none;
        color: $colour-primary-font-neutre;
        font-size: 1.2em;
        font-weight: bold;
        padding: 0.2em 1em;
        width: auto;
        &:focus {
            border: 2px solid $colour-secondary-fond;
        }
        &:hover {
            background-color: $colour-primary-font-color
        }
   }
}

/* pour afficher message d'erreur */
.error{
    display: none;
    font-size: 0.85em;
    color: $colour-alerte-modal-text;
    font-weight: bold;
    padding-top : 1em;
  }
  
  .error-visible{
    display:block;
   /* height : 10px;*/
  }