$colour-primary-fond:#901C1C; /* rouge brique fond */
$colour-primary-font-neutre: white; 
$colour-primary-font-color: #D3573C; /* rouge brique font */

$colour-secondary-fond:#D3573C;
$colour-secondary-font: #525252; /* #FAFAFA gris */
$colour-secondary-font-neutre: black; 
$colour-secondary-font-color: #901C1C;

$colour-fond1: #eaeaea; /* gris foncé */

$colour-basic-text : #000000;

$coutour-bt : #C4C4C4;
$contour-focus: red;
